//
//  AppConfig.xcconfig
//  Gander
//
//  Created by KavinduDissanayake on 2025-06-21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ANTHROPIC_API_KEY=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
//MARK: - App Name
APP_NAME = Dev-App
APP_ICON = AppIcon-dev
APP_VERSION = 0.0.1
APP_BUILD_NUMBER = 1
APP_FLAVOR = Development
APP_BUNDLE_ID = com.gander.sandbox-app

